<footer class="footer">
    <div class="container">
        <!-- <span class="text-muted">Place sticky footer content here.</span> -->
        <div class="d-flex justify-content-center elements">
            <div class="p-2 flex-fill bd-highlight d-flex justify-content-center">
                <button routerLink="home" title="Home"><i class="material-icons md-48">home</i></button>
            </div>
            <div class="p-2 flex-fill bd-highlight d-flex justify-content-center">
                <!-- <a routerLink="search" title="Pesquisar"><i class="material-icons md-48">keyboard</i></a> -->
                <button routerLink="search" title="Pesquisar"><i class="material-icons md-48">keyboard</i></button>
            </div>
            <div class="p-2 flex-fill bd-highlight d-flex justify-content-center">
                <!-- <a routerLink="add" title="Adicionar"><i class="material-icons md-48 adicionar">add_circle</i></a> -->
                <button routerLink="add" title="Adicionar"><i class="material-icons md-48 adicionar">add_circle</i></button>
            </div>
            <div class="p-2 flex-fill bd-highlight d-flex justify-content-center">
                <button title="Informação"><i class="material-icons md-48">report</i></button>
            </div>
            <div class="p-2 flex-fill bd-highlight d-flex justify-content-center">
                <!-- <a href="#" title="Configuração"><i class="material-icons md-48">settings</i></a> -->
                <button title="Configuração"><i class="material-icons md-48">settings</i></button>
            </div>
        </div>
    </div>
</footer>