<footer class="footer">
    <div class="container">
        <!-- <span class="text-muted">Place sticky footer content here.</span> -->
        <div class="d-flex justify-content-center elements">
            <div class="p-2 flex-fill bd-highlight d-flex justify-content-center">
                <a routerLink="home" title="Home"><i class="material-icons md-48">home</i></a>
            </div>
            <div class="p-2 flex-fill bd-highlight d-flex justify-content-center">
                <a href="#" title="Pesquisar"><i class="material-icons md-48">keyboard</i></a>
            </div>
            <div class="p-2 flex-fill bd-highlight d-flex justify-content-center">
                <a href="#" title="Adicionar"><i class="material-icons md-48 adicionar">add_circle</i></a>
            </div>
            <div class="p-2 flex-fill bd-highlight d-flex justify-content-center">
                <a href="#" title="Informação"><i class="material-icons md-48">report</i></a>
            </div>
            <div class="p-2 flex-fill bd-highlight d-flex justify-content-center">
                <a href="#" title="Configuração"><i class="material-icons md-48">settings</i></a>
            </div>
        </div>
    </div>
</footer>