<div class="row">

    <div class="col-md-3">
        <div class="card text-white bg-green mb-4">
            <div class="card-body card-default">
                <h5 class="card-title">Anotação 01</h5>
                <p class="card-text text-justify">Some quick example text to build on the card title and make up the
                    bulk of the card's
                    content.</p>
                <div class="card-footer text-muted text-center">
                    <a href="#" class="btn btn-degrader btn-sm">Concluído</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-green mb-4">
            <div class="card-body card-default">
                <h5 class="card-title">Anotação 02</h5>
                <p class="card-text text-justify">Some quick example text to build on the card title and make up the
                    bulk of the card's
                    content.</p>
                <div class="card-footer text-muted text-center">
                    <a href="#" class="btn btn-degrader btn-sm">Concluído</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-green mb-4">
            <div class="card-body card-default">
                <h5 class="card-title">Anotação 01</h5>
                <p class="card-text text-justify">Some quick example text to build on the card title and make up the
                    bulk of
                    the card's
                    content.</p>
                <div class="card-footer text-muted text-center">
                    <a href="#" class="btn btn-degrader btn-sm">Concluído</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-green mb-4">
            <div class="card-body card-default">
                <h5 class="card-title">Anotação 01</h5>
                <p class="card-text text-justify">Some quick example text to build on the card title and make up the
                    bulk of
                    the card's
                    content.</p>
                <div class="card-footer text-muted text-center">
                    <a href="#" class="btn btn-degrader btn-sm">Concluído</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-green mb-4">
            <div class="card-body card-default">
                <h5 class="card-title">Anotação 01</h5>
                <p class="card-text text-justify">Some quick example text to build on the card title and make up the
                    bulk of
                    the card's
                    content.</p>
                <div class="card-footer text-muted text-center">
                    <a href="#" class="btn btn-degrader btn-sm">Concluído</a>
                </div>
            </div>
        </div>
    </div>

</div>