<!-- <p>form-commitment works!</p> -->
<br>
<div class="card bg-green">
    <div class="card-header font-title">
        <div class="div-icon">
            <i class="material-icons md-48 icon-agenda">schedule</i>
        </div>
        Novo Compromisso
    </div>
    <div class="card-body card-default">
        <div class="form-group">
            <label for="formGroupExampleInput">Título</label>
            <input type="text" class="form-control input-search">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="dtInicio">Data Início</label>
                <input type="text" class="form-control input-search">
            </div>
            <div class="form-group col-md-6">
                <label for="dtTermino">Data Término</label>
                <input type="text" class="form-control input-search">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="hrInicio">Hora Início</label>
                <input type="text" class="form-control input-search">
            </div>
            <div class="form-group col-md-6">
                <label for="hrTermino">Hora Término</label>
                <input type="text" class="form-control input-search">
            </div>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Descrição</label>
            <textarea class="form-control input-search" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div><br>
        <div class="form-group text-center">
            <button type="submit" class="button-submit">Salvar</button>
        </div>
    </div>
</div>