.dv-jumbotron {
    background-color: #ffffff !important;
    /* background-color: #db6464 !important; */
}
/* .dv-jumbotron .dv-actions {
    display: flex;
    width: 100%;
    background-color: blanchedalmond;
} */